body, html {
    height: 100%;
    width: 100%;
}

.title {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: navy;
    border-bottom: 4px solid black;
    font-size: 48px;
    font-weight: 800;
    font-family: 'Proxima Nova', 'Roboto', sans-serif;
    color: white;
    padding: 2% 0;
    margin: -8px -8px;
    margin-bottom: 0px;
}

.bg-img {
    z-index: -1;
    border-radius: 10%;
    max-width: 100%;
    height: auto;
}

button {
    border-radius: 5%;
    align-items: center;
    background-color: white;
    border-width: 4px;
    text-align: center;
    padding-top: 4px;
}
.button-div {
    display: flex;
    flex: 2 0 0;
    margin: 0 -8px;
    padding: 8% 0;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E5E7EB;
}

.bottom {
    border-top: 4px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: navy;
    font-size: 48px;
    font-weight: 800;
    font-family: 'Proxima Nova', 'Roboto', sans-serif;
    color: white;
    padding: 2% 0;
    margin: -8px -8px;
}

#score {
    font-size: 36px;
}